.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #495efc, #ff80bf);
}

.app-header {
  background-color: blue;
  color: deepskyblue;
}

.parent-div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.parent-div-2 {
  background-color: rgb(34, 30, 30);
  border-radius: 10px;
  /* width:50%; */
  height: 50%;
  aspect-ratio: 1/1;
}
